@import "../../styles/partials/_colours";
@import "../../styles/partials/_variables";

.day-row {
  height: 25px;
  button {
    min-height: 20px;
    padding: 0;
  }
  .times {
    .time-block {
      cursor: pointer;
      &:hover {
        &::after, &::after {
          border: {
            left: 1px solid $secondary-colour;
            right: 1px solid $secondary-colour;
          }
        }
        &::after, &:not(:empty):hover::after, &:focus::after, &:not(:empty):focus::after {
            content: '';
            height: 10000px;
            position: absolute;
            top: -5000px;
            width: 100%;
            z-index: map-get($z-index, wafer);
            pointer-events: none;
        }
      }
    }
  }
  &:hover {
    border-top: 1px solid $secondary-colour;
    &:not(.is-expanded) {
      border-bottom: 1px solid $secondary-colour;
    }
    &.is-expanded {
      .times, .date {
        border-bottom: 1px solid $secondary-colour;
      }
    }
  }
  &.weekend {
    background-color: lighten($secondary-background, $darken-amount);
  }
}

.day-row.is-expanded {
  flex-wrap: wrap;
  height: auto;
}

.day-row-detail {
  display: flex;
  width: 98%;
  background-color: $white;
  padding: 5px;
}
