@import "../../styles/partials/_colours";
@import "../../styles/partials/_variables";

.backdrop {
  position: absolute;
  width: calc(100% - 20px);
  height: 100%;
  z-index: map-get($z-index, popover);
}

.category-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $primary-background;
  color: $primary-colour-contrast;
  padding: 2px;
  transform: translateY(-50%) translateX(-50%);
  z-index: map-get($z-index, popover);
  input {
    height: 25px;
  }
  input, .category-list {
    min-width: 120px;
  }
  .category-item {
    cursor: pointer;
    &:hover {
      background-color: $secondary-colour;
      color: $secondary-colour-contrast;
    }
  }
}

.category-edit-title {
  margin: 5px;
  text-align: center;
}

.preview-colour {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
}
