@import "../../styles/partials/_colours";
@import "../../styles/partials/_variables";

.category-edit {
  position: absolute;
  background-color: $primary-background;
  color: $primary-colour-contrast;
  padding: 2px;
  z-index: map-get($z-index, popover);
  input {
    height: 25px;
  }
  .category-list {
    padding: 5px;
    list-style-type: none;
    .category-item {
      display: flex;
      padding: 0 2px;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: $secondary-colour;
        color: $secondary-colour-contrast;
      }
      span {
        pointer-events: none;
      }
    }
  }
  input, .category-list {
    width: 120px;
  }
}

.preview-colour {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
}
