$darken-amount: 5%;

/* Colours */
$selvaria-black: #141318;
$selvaria-grey: #707686;
$selvaria-gold: #b88b30;

$white: #fff;
$grey95: #f2f2f2;
$grey94: #efefef;
$grey80: #ccc;
$grey40: #666;
$onyx: #0f0f0f;
$black: #000;

$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$yellow: #ffff00;
$magenta: #ff00ff;
$cyan: #00ffff;

$orange: #ff9900;
$dark-violet: #674ea7;
$very-dark-blue: #073763;
$soft-blue: #6fa8dc;
$dark-red: #a61c00;
$desaturated-green: #93c47d; //$moderate-green: #99cc66;
$brown-from-dark-yellow: #7f6000;

/* Usages */
$primary-background: $selvaria-black;
$primary-colour: $selvaria-black;
$primary-colour-contrast: $selvaria-grey;

$secondary-background: $selvaria-gold;
$secondary-colour: $selvaria-gold;
$secondary-colour-contrast: $black;

$spinner-colour-one: $selvaria-grey;
$spinner-colour-two: $selvaria-gold;
$spinner-colour-three: $selvaria-grey;
$spinner-colour-four: $selvaria-gold;

$category-colours: (
  anime: $orange,
  develop: $dark-violet,
  exercise: $very-dark-blue,
  gaming: $yellow,
  manga: $soft-blue,
  other: $magenta,
  passing: $dark-red,
  sleep: $grey40,
  social: $desaturated-green,
  wasted: $brown-from-dark-yellow,
  work: $grey94
);

$danger-colour: $red;
$success-colour: $green;
