/*
 * GENERAL
 */
$darken-amount: 5%;

/* Colours*/
$selvaria-black: #141318;
$selvaria-grey: #707686;
$selvaria-gold: #b88b30;

$white: #fff;
$onyx: #0f0f0f;
$black: #000;
$red: #ff0000;
$green: #00ff00;

/*
 * USAGES
 */
$primary-background: $selvaria-black;
$primary-colour: $selvaria-black;
$primary-colour-contrast: $selvaria-grey;

$secondary-background: $selvaria-gold;
$secondary-colour: $selvaria-gold;
$secondary-colour-contrast: $black;

$spinner-colour-one: $selvaria-grey;
$spinner-colour-two: $selvaria-gold;
$spinner-colour-three: $selvaria-grey;
$spinner-colour-four: $selvaria-gold;

$category-colours: (
  anime: #ff9900,
  develop: #674ea7,
  exercise: #073763,
  gaming: #ffff00,
  manga: #6fa8dc,
  other: #ff00ff,
  passing: #a61c00,
  sleep: #666666,
  social: #93c47d,
  wasted: #7f6000,
  work: #efefef
);

$danger-colour: $red;
$success-colour: $green;
