@import "../../styles/partials/_colours";

.action-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  form {
    display: flex;
    width: 100%;
    justify-content: space-around;
    * {
      display: inline-flex;
      align-items: flex-end;
    }
    input[type="date"] {
      height: 25px;
      border: none;
      font-family: 'calibri', sans-serif, monospace;
    }
  }
}

.action-container {
  position: relative;
  label {
    position: absolute;
    top: -1em;
    color: $secondary-colour;
  }
}
