@import "../../styles/partials/_colours";
@import "../../styles/partials/_variables";

.action-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  form {
    display: flex;
    width: 100%;
    justify-content: space-around;
    * {
      display: inline-flex;
      align-items: flex-end;
    }
    input[type="date"] {
      height: 25px;
      border: none;
      font-family: 'calibri', sans-serif, monospace;
    }
  }
}

.action-container {
  position: relative;
  label {
    position: absolute;
    top: -1em;
    color: $secondary-colour;
  }
}

.help-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  .help-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: $primary-background;
    color: $primary-colour-contrast;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    appearance: none;
    font-weight: bold;
    .help-content {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $white;
      width: 100%;
      height: auto;
      border: {
        width: 1px;
        style: dotted;
        color: $secondary-colour;
      };
      font-weight: normal;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      p {
        margin: 0.5em;
        text-align: left;
      }
    }
    &:focus, &:active {
      width: 100%;
      height: 100%;
      .help-content {
        opacity: 1;
        z-index: map-get($z-index, popover);
      }
    }
  }
}
