@import "../../styles/partials/_colours";

.home {
  .timesheet {
    padding: 5px 10px;
    list-style-type: none;
    .list-headers {
      border-bottom: 1px solid $primary-colour;
    }
    .day-row {
      height: 25px;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      .times {
        .time-block {
          &:hover {
            border: 1px solid $secondary-colour;
          }
        }
      }
      &:hover {
        border-top: 1px solid $secondary-colour;
        border-bottom: 1px solid $secondary-colour;
      }
    }
    .date {
      width: 10%;
      text-align: center;
    }
    .times {
      width: 90%;
      height: 100%;
      .time-block {
        height: 100%;
        border: 1px solid $white;
        text-align: center;
      }
    }
    .date, .times, .time-title, .time-block {
      display: inline-flex;
      flex-direction: row;
      min-width: 20px;
      min-height: 20px;
    }
  }
}

@each $key, $value in $category-colours {
  .#{$key} {
    background-color: $value;
  }
}
