@import "../../styles/partials/_colours";

#home {
  header {
    display: flex;
    justify-content: space-between;
    .header-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.timesheet {
  padding: 5px 10px;
  list-style-type: none;
  overflow: hidden;
  .list-headers {
    border-bottom: 1px solid $primary-colour;
  }
}

.date, .times, .time-title, .time-block {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  cursor: default;
}
.date {
  width: 10%;
  text-align: center;
}

.day-row {
  height: 25px;
  .times {
    .time-block {
      cursor: pointer;
      &:hover {
        &::after, &::after {
          border: {
            left: 1px solid $secondary-colour;
            right: 1px solid $secondary-colour;
          }
        }
        &::after, &:not(:empty):hover::after, &:focus::after, &:not(:empty):focus::after {
            content: '';
            height: 10000px;
            // left: 0;
            position: absolute;
            top: -5000px;
            width: 100%;
            z-index: -1;
        }
      }
    }
  }
  &:hover {
    border-top: 1px solid $secondary-colour;
    border-bottom: 1px solid $secondary-colour;
  }
}

.times {
  width: 90%;
  height: 100%;
  .time-block {
    position: relative;
    height: 100%;
    text-align: center;
  }
}

@each $key, $value in $category-colours {
  .#{$key} {
    background-color: $value;
  }
}
