* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Console", Courier, monospace;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.subtitle {
  margin: 2px 5px;
  font-size: small;
}
