* {
  box-sizing: border-box;
  font-family: 'calibri', sans-serif, monospace;
}

body {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.subtitle {
  margin: 2px 5px;
  font-size: small;
}
