@import "./styles/partials/_colours";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto mono", monospace; //"Lucida Console", Courier, monospace;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.subtitle {
  margin: 2px 5px;
  font-size: small;
}
.keep-line-breaks {
  white-space: pre-line;
}
.invisible-text {
  color: $white;
}

.row {
  display: inline-flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.flex-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  &.full-row {
    width: 100%;
  }
}

.flex-container {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: space-around;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  &.full-width {
    width: 100%;
  }
}
