.category-detail {
  .category-list {
    min-width: 250px;
  }
  .day-of-week-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
    list-style-type: none;
  }
}
